/* Navigation */
.NavigationItem a {
  text-decoration: none;
  border: 1px solid #1e277c;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #3547eb;
  color: white;
}

/* entries Heading and font*/
.HeadingH1 {
  font-size: 1.5rem;
}

.NormalFont {
  font-size: 1rem;
}

.NavigationItem {
  margin: 0px 100px 10px auto;
  width: 5%;
  font-size: 20px;
}

.NavigationItem a:hover {
  color: #c8c7f7;
}

.Nav-Brand {
  width: 150px;
  padding: 20px 0 0 20px;
}

/* Registration */
.RegisterButton {
  font-size: 20px;
  margin: 30px auto 100px auto;
}

.RegisterButton a {
  text-decoration: none;
  border: 1px solid #1e277c;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #3547eb;
  color: white;
}

.RegisterButton a:hover {
  color: #c8c7f7;
}

/* Login */
.FinalLogin {
  font-size: 20px;
  text-align: center;
}

.FinalLogin a {
  text-decoration: none;
  border: 1px solid #1e277c;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #3547eb;
  color: white;
  margin: 30px 15px 15px 15px;
  display: block;
}

.LoginHeading {
  padding: 0 15px;
  font-size: 20px;
  font-weight: 400;
  color: #3547eb;
}

/* Caption */
.Caption {
  font-weight: 700;
  font-size: 4rem;
  color: #3547eb;
  margin: 0;
  padding: 0;
}

.CaptionHint {
  font-size: 2rem;
  color: #3547eb;
  margin: 0;
  padding: 0;
}

/* Landing Page */
.LandingPage {
  background: rgb(241, 227, 243);
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.FullDiv {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.BorderDiv {
  border: 3px solid #3547eb;
  border-radius: 2px;
  padding: 3rem 2rem;
}

.BorderCol {
  border: 3px solid #3547eb;
  border-radius: 2px;
  padding: 3rem 2rem;
  margin: 2px;
}

/* Form and Input */
.Input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.InputElement {
  outline: none;
  border: 2px solid #3547eb;
  border-radius: 2px;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  color: rgb(85, 80, 80);
}

/* Flex Container */
.FlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;
}

.FlexItem {
  border: 3px solid #3547eb;
  border-radius: 2px;
  padding: 3rem 2rem;
  width: 40%;
  margin-bottom: 4rem;
}

/* Submit Button */
.SubmitButton {
  border: 1px solid #1e277c;
  font-size: 20px;
  margin-top: 2rem;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #3547eb;
  color: white;
  cursor: pointer;
}

.SubmitButton:hover {
  cursor: pointer;
  color: #c8c7f7;
}

/* Textarea and Input*/
.TitleInput {
  width: 70%;
  height: 30px;
  margin-bottom: 1rem;
  border: 2px solid rgb(201, 201, 224);
  padding: 1rem;
  font-size: 1rem;
}

.TitleInput::placeholder {
  font-size: 15px;
}

.TextArea {
  width: 80%;
  height: 200px;
  border: 2px solid rgb(201, 201, 224);
  padding: 1rem;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
